.submit{
    background-color: #2f102f;
    width:300px;
    height: 30px;
    padding: 5px;
}
.main{
    background-color: #2f102f;
    height:600px;
    width:400px;
    margin-left: 400px;
    margin-top: 50px;
}
.div1{
    margin-top: 10px;
}
.signup{
    width:300px;
    height: 30px;
    background-color: purple;

}
.clickme{
    color: white;
    text-decoration: none;
}
.content{
    color: white;
    margin-bottom: 20px;
}
.name{
    color: white;
}
